html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	bottom-margin: 100px;
}
table {
    width: 40%;
    float: center;
    margin: 0 auto;
    
}
td, tr, th {
    text-align: center;
    padding: 10px 5px;
}
/*tr:nth-child:(even) {
	background: #B5E8FF;
}*/
tr:nth-child(odd) {
	background: #B5E8FF
}
tr:nth-child(1) {
	background: #2BAEEB
}
#map {
	width: calc(100% - 160px);
	height: calc(100% - 160px);
	padding: 80px 0 0 80px;
	margin-bottom:80px;
}