html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	bottom-margin: 100px;
}
.tables {
	width:50%;
    margin: 0 auto;
}
table {
    width: 28%;
}
#top-ips {
	float:left;
	margin-left:20%;
}
#top-users {
	float:right;
	margin-right:20%;
}
td, tr, th {
    text-align: center;
    padding: 10px 5px;
}
tr:nth-child(odd) {
	background: #B5E8FF
}
tr:nth-child(1) {
	background: #2BAEEB
}
#map {
	width:90%;
	height:90%;
	padding: 5% 0 0 5%;
	margin-bottom:50px;
}